body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.navbar {
    background-color: rgb(35, 161, 35);
    color: black;
    width: 100%;
    border-bottom: 4px rgb(6, 94, 6) solid;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

.container {
    width: 95%;
    height: 80px;
    margin: 0 auto;
	padding: 0px;
    position: relative;
}

.container img {
    width: 100px;
}

.navbar ul {
    float: right;
    text-transform: uppercase;
}

li {
    float: left;
    list-style: none;
    margin: 17px;
}

.current {
    color: white;
    font-weight: bold;
}

.banner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../Imagens/Microalgas-1.1.jpg);
    position: fixed;
}

.div_container {
    background-color: rgb(155, 155, 155);
    height: 280px;
    width: 320px;
    margin-left: 40%;
    margin-top: 13%;
    border-radius: 35px;
}

.div_container p {
    margin-bottom: 0px;
    margin-left: 5px;
    margin-top: 16;
    
}

.div_container input {
    margin-left: 5px;
    width: 302px;
    color: rgb(40, 134, 40);
}

.div_container img {
    margin-left: 110px;
    margin-top: 15px;
    width: 100px;
    border-radius: 60px;
}

.div_container button {
    margin-top: 24px;
    margin-left: 136px;
    cursor: pointer;
}