body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background: #313131;
    height: 90px;
    border-bottom: #42b72a 3px inset;
}
.container{
    height: 90px;
    width: 90%;
    margin: auto;
}
.container img{
    height: 90px;
    float: left;
}
.container h2{
    float: left;
    letter-spacing: 1px;
    color: white;
    margin-left: 5px;
    margin-top: 30px;
}
.menu{
    float: right;
    margin-right: 350px;
    margin-top: 30px;
}
.menu li{
    float: left;
    list-style: none;
    margin: 5px;
    color: white;
}
.menu a{
    transition: 0.2s;
}
.menu a:hover{
    color:rgb(192, 190, 190) ;
    transition: 0.2s;
}
.login{
    float: right;
    margin-top: -43px;
}
.login li{
    float: left;
    list-style: none;
    margin: 5px;
    color: white;
    transition: 0.2s;
}
.login a:hover{
    color: rgb(192, 190, 190);
    transition: 0.2s;
}


.quem{
    background-image: url(./imagens/edit.jpg);
    height: 400px;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.opacidade{
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
}
.quem h1{
    padding-top: 10%;
    text-align: center;
    margin: 0;
    font-size: 50px;
    color: #42b72a;
    transition: 0.9s;
}
.quem h1:hover{
    font-size: 55px;
    cursor: pointer;
    transition: 0.9s;
}
.quem p{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.sensores{
    height: 400px;
    border-top: #42b72a 3px solid;
    background: #313131;
}
.listra img{
    height: 270px;
    float: right;
}
.listra h1{
    font-size: 45px;
    color: white;
    text-align: center;
    transition: 0.9s;
}
.listra h1:hover{
    font-size: 50px;
    cursor: pointer;
    transition: 0.9s;
}
.listra p{
    float: left;
    width: 70%;
    font-size: 25px;
    margin: 0;
    color: #42b72a;
}
.algas{
    height: 400px;
    border-top: #42b72a 3px solid;
    background-image: url(./imagens/plata.jpeg);
}
.opacidade2{
    height: 400px;
    background: rgba(0, 17, 4, 0.63);
}
.opacidade2 h1{
    margin: 0;
    font-size: 45px;
    padding-top: 25px;
    color: #42b72a;
    text-align: center;
    transition: 0.9s;
}
.opacidade2 h1:hover{
    font-size: 50px;
    cursor: pointer;
    transition: 0.9s;
}
.opacidade2 p{
    color: white;
    font-size: 23px;
}
.opacidade2 span{
    color: rgb(163, 243, 152);
}

footer{
    height: 133px;
    width: 100%;
    background: #313131;
}
footer p{
    padding-top: 20px;
    margin: 0;
    padding-bottom: 10px;
    color: white;
}
footer span{
    color: white;
}
.bandtec{
    height: 30px;
    width: 100%;
    background: #313131;
}
.span_footer{
    margin-left: 38%;
    color: #888787;
}
.imagem{
    float: right;
    margin-top: -60px;
}
.imagem img{
    height: 30px;
    margin: 3px;
}
a{
    text-decoration: none;
    color: white;
}
