body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background: #313131;
    height: 90px;
    border-bottom: #42b72a 3px inset;
}
.container{
    height: 90px;
    width: 90%;
    margin: auto;
}
.container img{
    height: 90px;
    float: left;
}
.container h2{
    float: left;
    letter-spacing: 1px;
    color: white;
    margin-left: 5px;
    margin-top: 30px;
}
.menu{
    float: right;
    margin-right: 300px;
    margin-top: 30px;
}
.menu li{
    float: left;
    list-style: none;
    margin: 5px;
    color: white;
}
.menu a{
    transition: 0.2s;
}
.menu a:hover{
    color:rgb(192, 190, 190) ;
    transition: 0.2s;
}
.login{
    float: right;
    margin-top: -43px;
}
.login li{
    float: left;
    list-style: none;
    margin: 5px;
    color: white;
    transition: 0.2s;
}
.login a:hover{
    color: rgb(192, 190, 190);
    transition: 0.2s;
}
.navbar a{
    text-decoration: none;  
    color: white;
}


.fundo{
    height: 200px;
    width: 100%;
    background-image: url(./imagens_oceano/planta\ 6.jpeg);
    background-size: cover;
    border-bottom: 3px solid #313131;
}
.opacidade3{
    background: rgba(0, 0, 0, 0);
    height: 200px;
}
.fundo h1{
    margin-top: 0;
    padding-top: 80px;
    font-size: 50px;
    text-align: center;
    color: white;
}
.texto{
    width: 600px;
    float: left;
}
.texto p{
    text-align: justify;
    font-size: 18px;
    margin-top: 25px;
}
/* .container {
    display: flex;
} */

.slider{
    float: right;
    margin-top: 25px;
}
#img_slider{
    width: 480px;
    height: 320px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.5s;
    border-radius: 10px;
}
.button_slider_esquerda{
    float: left;
    margin-top: 140px;
    background: #14d44d;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.button_slider_direita{
    margin-top: 140px;
    background: #14d44d;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.div_rodape{
    height: 100px;
    width: 100%;
    background-image: url(./imagens_oceano/planta\ 6.jpeg);
    margin-top: 280px;
    border-bottom: 3px white solid;
}

footer{
    height: 133px;
    width: 100%;
    background: #313131;
}
footer p{
    padding-top: 20px;
    margin: 0;
    padding-bottom: 10px;
    color: white;
}
footer span{
    color: white;
}
.bandtec{
    height: 30px;
    width: 100%;
    background: #313131;
}
.span_footer{
    margin-left: 38%;
    color: #888787;
}
.imagem{
    float: right;
    margin-top: -60px;
}
.imagem img{
    height: 30px;
    margin: 3px;
}
.navbar a{
    text-decoration: none;
    color: white;
}

.social:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}
